<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<array>
		<dict>
			<key>name</key>
			<string>arshavin</string>
			<key>age</key>
			<string>34</string>
			<key>club</key>
			<string>FC Kuban Krasnodar</string>
			<key>picture</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/5/52/Zenit-Legia_%281%29.jpg</string>
			<key>des</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string></string>
			<key>club</key>
			<string></string>
			<key>picture</key>
			<string></string>
			<key>infomation</key>
			<string></string>
		</dict>
	</array>
	<key>b</key>
	<array>
		<dict>
			<key>name</key>
			<string>beckham</string>
			<key>club</key>
			<string></string>
			<key>picture</key>
			<string></string>
			<key>infomation</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>bergkamp</string>
			<key>club</key>
			<string></string>
			<key>picture</key>
			<string></string>
			<key>infomation</key>
			<string></string>
		</dict>
	</array>
	<key>c</key>
	<array>
		<dict>
			<key>name</key>
			<string>cech</string>
			<key>club</key>
			<string></string>
			<key>picture</key>
			<string></string>
			<key>infomation</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>courtois</string>
			<key>club</key>
			<string></string>
			<key>picture</key>
			<string></string>
			<key>infomation</key>
			<string></string>
		</dict>
	</array>
	<key>d</key>
	<array>
		<string>drogba</string>
	</array>
	<key>e</key>
	<array/>
	<key>f</key>
	<array/>
	<key>g</key>
	<array/>
	<key>h</key>
	<array/>
	<key>i</key>
	<array/>
	<key>j</key>
	<array/>
	<key>k</key>
	<array/>
	<key>l</key>
	<array/>
	<key>m</key>
	<array/>
	<key>n</key>
	<array/>
	<key>o</key>
	<array/>
	<key>p</key>
	<array/>
	<key>q</key>
	<array/>
	<key>r</key>
	<array/>
	<key>s</key>
	<array/>
	<key>t</key>
	<array/>
	<key>u</key>
	<array/>
	<key>v</key>
	<array/>
	<key>w</key>
	<array/>
	<key>x</key>
	<array/>
	<key>y</key>
	<array/>
	<key>z</key>
	<array/>
</dict>
</plist>
